//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 07 22:02:59 2026
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "dip0" LOCATE = SITE "C17" LEVEL 1;
COMP "dip1" LOCATE = SITE "C18" LEVEL 1;
COMP "dip2" LOCATE = SITE "D17" LEVEL 1;
COMP "dip3" LOCATE = SITE "D18" LEVEL 1;
COMP "dip4" LOCATE = SITE "E18" LEVEL 1;
COMP "dip5" LOCATE = SITE "E16" LEVEL 1;
COMP "dip6" LOCATE = SITE "F18" LEVEL 1;
COMP "dip7" LOCATE = SITE "F17" LEVEL 1;
COMP "led0" LOCATE = SITE "P15" LEVEL 1;
COMP "led1" LOCATE = SITE "P16" LEVEL 1;
COMP "led2" LOCATE = SITE "N15" LEVEL 1;
COMP "led3" LOCATE = SITE "N16" LEVEL 1;
COMP "led4" LOCATE = SITE "U17" LEVEL 1;
COMP "led5" LOCATE = SITE "U18" LEVEL 1;
COMP "led6" LOCATE = SITE "T17" LEVEL 1;
COMP "led7" LOCATE = SITE "T18" LEVEL 1;
COMP "button0" LOCATE = SITE "M18" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 10 ns HIGH 50%;
SCHEMATIC END;

